@model Car_Rental_MVC.Models.CarModelDto

@Html.AntiForgeryToken()


<form asp-action="Add" enctype="multipart/form-data">
    <div class="border p-3 mt-4 row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row pb-2">
            <h2>Add Car</h2>
            <hr />
        </div>
            <div class="mb-3 col-6">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="Category" class="form-control">
                    <option disabled selected>--Select Category--</option>
                    <option value="Hatchback">Hatchback</option>
                    <option value="Sedan">Sedan</option>
                    <option value="Coupe">Coupe</option>
                    <option value="Cabriolet">Cabriolet</option>
                    <option value="Combi">Combi</option>
                    <option value="Minivan">Minivan</option>
                    <option value="SUV">SUV</option>
                </select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="mb-3 col-6">
                <label asp-for="Make" class="control-label"></label>
                <input asp-for="Make" class="form-control" />
                <span asp-validation-for="Make" class="text-danger"></span>
            </div>
            <div class="mb-3 col-6">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="mb-3 col-6">
                <label asp-for="Engine" class="control-label"></label>
                <input asp-for="Engine" class="form-control" />
                <span asp-validation-for="Engine" class="text-danger"></span>
            </div>
            <div class="mb-3 col-6">
                <label asp-for="Horsepower" class="control-label"></label>
                <input asp-for="Horsepower" class="form-control" />
                <span asp-validation-for="Horsepower" class="text-danger"></span>
            </div>
            <div class="mb-3 col-6">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="mb-3 col-6">
                <label asp-for="Seats" class="control-label"></label>
                <input asp-for="Seats" class="form-control" />
                <span asp-validation-for="Seats" class="text-danger"></span>
            </div>
            <div class="mb-3 col-6">
                <label asp-for="Doors" class="control-label"></label>
                <select asp-for="Doors" class="form-control">
                    <option disabled selected>--Select number of doors--</option>
                    <option value="2">2</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <span asp-validation-for="Doors" class="text-danger"></span>
            </div>
            <div class="mb-3 col-6">
                <label asp-for="Fuel" class="control-label"></label>
                <select asp-for="Fuel" class="form-control">
                    <option disabled selected>--Select Fuel--</option>
                    <option value="ON">ON</option>
                    <option value="PB">PB</option>
                    <option value="Electric">Electric</option>
                    <option value="Hybrid">Hybrid</option>
                </select>
                <span asp-validation-for="Fuel" class="text-danger"></span>
            </div>
            <div class="mb-3 col-6">
                <label asp-for="Transmission" class="control-label"></label>
                <select asp-for="Transmission" class="form-control">
                    <option disabled selected>--Select Transmission--</option>
                    <option value="Manual">Manual</option>
                    <option value="Automatic">Automatic</option>
                </select>
                <span asp-validation-for="Transmission" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ImageUrl"></label>
                <input type="file" id="uploadBox" name="file" class="form-control"/>
            </div>
            <div class="mb-3">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" rows="3" class="form-control" ></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="mb-3 ml-3 form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Available"/> @Html.DisplayNameFor(model => model.Available)
                </label>
            </div>
            <div class="mb-3 mt-4">
                <input type="submit" onclick="return ValidateInput()" value="Add" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
    <script>
        function ValidateInput(){
            if(document.getElementById("uploadBox").value==""){
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please upload an Image!',
                });
                return false;
            }
            return true;
        }
    </script>
}

