@model Car_Rental_MVC.Models.LoginModelDto

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AuthenticationLayout.cshtml";
}

@Html.AntiForgeryToken()

<div calss="col-md-10 offset-md-1">
    <section>
        <div class="login-form-icon">
            <i class="fas fa-user-circle fa-7x text-secondary p-2"></i>
        </div>
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="form-group form-check-label m-1">
                    <label class="form-check">
                        <input class="form-check-input" asp-for="IsPersistent" /> @Html.DisplayNameFor(model => model.IsPersistent)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Log in" class="btn btn-primary btn-block " />
            </div>
        </form>
        <div>
            <a asp-area="Home" asp-controller="Home" asp-action="Index">Back to Home</a>
        </div>
    </section>
</div>


@section Scripts 
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
     }
}
